services:
  - type: web
    name: springboot-app
    plan: free
    runtime: docker
    buildCommand: ./mvnw clean install -DskipTests
    envVars:
      - key: SPRING_DATASOURCE_URL
        fromDatabase:
          name: springboot-db
          property: connectionString
      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: springboot-db
          property: user
      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: springboot-db
          property: password

databases:
  - name: springboot-db
    plan: free
