# Exported from Render on 2025-12-28T12:30:23Z
version: "1"
databases:
  - name: springboot-db
    databaseName: springboot_db_492y
    user: springboot_db_492y_user
    plan: free
    region: oregon
    ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere
    postgresMajorVersion: "18"
