services:
  - type: web
    name: api-produits
    plan: free
    runtime: docker
    buildCommand: mvn clean install
    startCommand: java -Dserver.port=$PORT -jar target/API-produit-0.0.1-SNAPSHOT.jar
    envVars:
      - key: SPRING_DATASOURCE_URL
        fromDatabase:
          name: springboot-db
          property: connectionString
      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: springboot-db
          property: username
      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: springboot-db
          property: password

databases:
  - name: springboot-db
    plan: free
